body{
    font-family: arial, sans-serif;
    display:flex;
}

article{
    width:100%;
}

figure{
    padding: 1em;
    margin:0;
    display: block;
}

h1{
    margin:0;
    font-size: 10em;
    text-align: center;
}

img,figcaption{
    padding: 0.5em;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

p{
    margin:0;
    text-align: center;
}
table{
    padding: 1em;
    margin: auto;
    border-spacing: 0;
}

table td p:nth-child(1){
    font-size: 1.5em;
}

table td p:nth-child(2){
    font-style: italic;
}

td{
    padding: 1em 2em 1em 2em;
}

#firsttablecell{
    border-top: solid black;
    background-color: skyblue;
}

#secondtablecell{
    border-top: solid black;
    background-color: tan;
}

#thirdtablecell{
    border-top: solid black;
    border-bottom: solid black;
    background-color: palevioletred;
}

