body{
    font-size: 1.5em;
    text-align: center;
}

caption, table, thead, th, tr, td{
    border: 1px grey;
}

table{
    border-style: solid;
    width: 100%;
}

caption{
    border-style: solid;
    font-weight: bold;
    text-transform: uppercase;
}

table tr:nth-child(even){
    background-color: lightgray;
}

thead{
    color: white;
    background-color: red;
}

.firstcolumn{
    border-right-style: solid;
    font-weight: bold;
}