body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #a88a8a;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
    border-style: solid;
}

p, ul, ol {
    text-indent: 2%;
}

li{
    color: darkgrey;
}

figcaption {
    font-size: 0.5em;
    font-weight: bold;
}

div {
    background-color: darkgrey;
    padding:0.2em;
}

p.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}